* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #EBD3F8;
}

header {
    background: #704264;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background: #704264;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
h2{
    margin:0.9vw;
}
#leaderboard-list{
    margin-left:1.5vw;

}